.view-content {
	margin: 3%;
}

.btn {
	float: right;
}

.btn-secondary {
	margin-right: 2%;
}

header {
	border-bottom: 2px solid;
}

.main-content {
	margin-top: 1%;
	margin-bottom: 1%;
}

.items-detail {
	text-align: center;
	margin-bottom: 20px;
}

.col-item {
	padding: 5px;
	border: 1px solid;
	margin: 15px;
	width: 23%;
	box-sizing: border-box;
}

footer {
	border-top: 2px solid;
}

p {
	text-align: center;
	margin: 2%;
}
